@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Silkscreen&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Space Mono", monospace !important;
}

body {
    max-width: 900px;
    margin: auto;
	background-color: #282828;
	color: #ebdbb2;
}

h1 {
    text-align: center;
}

.navigation {
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: #ebdbb2;
    padding: 2px 0px;
}


.navigation .active {
    color: #8ec07c;
    font-weight: bold;
}

.navigation a:hover {
    text-decoration: underline;
}



.search-container {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.search-results{
    text-align: left;
    padding: 5px;
}

.search-results li{
    list-style: none;
    border-bottom: 1px dotted black;
    padding: 5px;
}

.search-results li:nth-child(even) {
    background-color: #FAF9F6;
}


hr{
    color: #000;
    margin-top: 10px;
}

p {
    text-align: center;
}


footer {
    text-align: center;    
    margin-top: 5%;
    margin-bottom: 5%;
}

a {
    color: #83a598;
}

h3 {
    text-align: center;
    margin: 5px
}

.linx {
    text-align: center;
    padding: 2px;
    margin: 5px;
    border: 1px solid #665c54;
    background-color: #3c3836;
    text-decoration: none;
    color: #ebdbb2;
    border-radius: 2px;
}

.linx:hover {
    background-color: #504945;
}

.linxdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wip {
    color: #fb4934;
    font-size: x-small;
}
